--TextArea

.textArea {
    resize: none;

}
.textAreaUP {
    resize: none;
    text-transform: uppercase;

}

.textAreaRes {
    resize: none;
}

--Input

.inputMinus {
    text-transform: lowercase;

}

--Divs
